table {
    border-spacing: 0px;
  }

.cell {
    border: 1px solid black;
    padding: 0px;
    height: 20px;
    width: 20px;
    background: #8DBDE4;
    opacity: 30%;
}
  
.cell-carrier {
    background: turquoise;
}
  
.cell-battleship{
    background: blue;
}
  
.cell-cruiser{
    background: orange;
}
  
.cell-submarine{
    background: green;
}
  
.cell-destroyer{
    background: yellow;
}

.miss{
    background: rgba(200, 200, 200, 0.75);
}

.hit{
    border: 1px solid red;
}