body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3D85C0;
  margin: 0px;
}

.header-contents {
  background-image: url("images/icon.png");
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

.grid {  border: 1px solid black;
  padding: 0px;
  background: #8DBDE4;
  opacity: 30%;
}

.grid td {
  width: 30px;
  height: 30px;
  border:1px solid black;
}

table {
  border-spacing: 0px;
  margin: 20%;
}

/* .cell {
  border: 1px solid black;
  padding: 0px;
  height: 20px;
  width: 20px;
  background: #8DBDE4;
  opacity: 30%;
} */

.grid td.clicked {
  background-color:white;

}

.ship:hover {
  cursor: pointer;
 /* background: blue; */
  opacity: 0.5;
  -webkit-filter: invert(100%);
  filter: invert(85%);
}

.cell-carrier {
  background: red;
}

.cell-battleship{
  background: blue;
}

.cell-cruiser{
  background: orange;
}

.cell-submarine{
  background: green;
}

.cell-destroyer{
  background: yellow;
}

.cell-filled {
  background: white;
}

.o-cell-empty:hover{
  background: rgba(255, 0, 0, .5);
  cursor: pointer;
}

.logo {
  opacity: 0%;
  float: left;
}

.button {
  background-color: #0A538F;
  border: 0px;
  color: white;
  padding: 20px 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.readybutton {

}

.randombutton {
}

.button:hover {
  background: white;
	color: #0A538F;
	box-shadow: inset 0 0 0 7px #3a7999;
}


.h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.statistics {
   color: white;
   font-size: 170%;
   text-align: right;
   
}

.stat {
  color: white;
  font-size: 150%;
  text-align: right;
  font-family: "courier new";
}