body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3D85C0;
  margin: 0px;
}
.logo {
  width: 10%;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0;
}

.left {float: left; }
.right {float: right; }

.notification {
  width: 80%;
  background: lightblue;
  height: 30px;
  margin-left: 10%;
  display: inline-block;
  font-size: 20px;
}

#notification {
  font-family: 'Courier New', Courier;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0.5% 0.5%;
}

.h1 {
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 7vw;
  margin-top: 1px;
  margin-bottom: 1px;
}

.button {
  background-color: #0A538F;
  border-width: 1px;
  border-color: rgb(22, 101, 181);
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.85% 4% !important;
  height: 40px;
}

#rotatebutton{
  width: 20%;
}

#randombutton{
  width: 40%;
  float: left;  
  margin-left: 10%;
}

#readybutton {
  /* position: absolute;
  bottom: 40%;
  right: 20%; */
  float: right;
  width: 20%;
  margin-right: 10%
}

#readybutton:hover {
  background: rgb(6, 101, 6);
  color: white;
  box-shadow: inset 0 0 0 7px rgba(11, 120, 42, 0.306);
}

.button:hover {
  background: white;
	color: #0A538F;
	box-shadow: inset 0 0 0 7px #3a7999;
}

.gridname {
  border-spacing: 0px;
  margin-top: 10px;
  /* margin-left: 20%; */
  color: white;
}

.griddiv {
  float: left;
  margin-left: 10%
}

a {
  color: #00B7FF;
}

table {
  border-spacing: 0px;
  margin-top: 3%;
  width: 30vw;
  height: 30vw;
}

 .cell {
  border-spacing: 0px;
  border: 1px solid black;
  padding: 0px;
  /* height: 50px; */
  /* width: 50px; */
  background: #8DBDE4;
  opacity: 0.95;
}

.ship:hover {
  cursor: pointer;
 /* background: blue; */
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(30%);
}

.ship:active {
  background: white;
}


.cell-carrier {
  background: turquoise;
}

.cell-battleship{
  background: blue;
}

.cell-cruiser{
  background: orange;
}

.cell-submarine{
  background: green;
}

.cell-destroyer{
  background: yellow;
}

.cell-filled {
  background: white;
}

.o-cell-empty:hover{
  background: rgba(255, 0, 0, .5);
  cursor: pointer;
}

.stat-container {
  position: absolute;
  bottom: 20px;
  right: 30px;
  float: right;
}

.statistics {
   color: white;
   font-size: 35px;
   text-align: right;
   font-family: "courier new";
   font-weight: bold;
   margin-bottom: 0px;
}

.stat {
  color: white;
  font-size: 20px;
  text-align: right;
  font-family: "courier new";
}