body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3D85C0;
  margin: 0px;
}
.logo {
  width: 20%;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.left {float: left; }
.right {float: right; }

.notification {
  width: 60%;
  margin-left: 10%;
  background: lightblue;
  height: 4vw;
  margin: 0px;
  display: inline-block;
  font-size: 150%;

}

#notification {
  font-family: 'Courier New', Courier;
  text-align: center;
  color: white;
  margin: 0px;
}

.h1 {
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gridname {
  border-spacing: 0px;
  margin-top: 10px;
  margin-left: 20%;
  color: white;
}


.header {
  text-align: center;
}

a {
  color: #00B7FF;
}

table {
  border-spacing: 0px;
  margin-top: 20%;
  margin-left: 20%;
  /* width: 50%; */
}

 .cell {
  border-spacing: 0px;
  border: 1px solid black;
  padding: 0px;
  height: 50px;
  width: 50px;
  background: #8DBDE4;
  opacity: 0.95;
}

.ship:hover {
  cursor: pointer;
 /* background: blue; */
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(30%);
}

.ship:active {
  background: white;
}


.cell-carrier {
  background: red;
}

.cell-battleship{
  background: blue;
}

.cell-cruiser{
  background: orange;
}

.cell-submarine{
  background: green;
}

.cell-destroyer{
  background: yellow;
}

.cell-filled {
  background: white;
}

.o-cell-empty:hover{
  background: rgba(255, 0, 0, .5);
  cursor: pointer;
}

.button {
  background-color: #0A538F;
  border: 0px;
  border-color: white;
  color: white;
  padding: 20px 40px;
  text-align: center;
  font-size: 150%;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
}

#rotatebutton{
  width: 20%;
}

#randombutton{
  height: 25%;
}

#readybutton {
  /* position: absolute;
  bottom: 40%;
  right: 20%; */
  float: right;
  width: 15%;
}

#readybutton:hover {
  background: rgb(6, 101, 6);
  color: white;
  box-shadow: inset 0 0 0 7px rgba(11, 120, 42, 0.306);
}

.button:hover {
  background: white;
	color: #0A538F;
	box-shadow: inset 0 0 0 7px #3a7999;
}

.stat-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.statistics {
   color: white;
   font-size: 35px;
   text-align: right;
   font-family: "courier new";
   font-weight: bold;
   margin-bottom: 0px;
}

.stat {
  color: white;
  font-size: 20px;
  text-align: right;
  font-family: "courier new";
}